* {
	font-family: "JetBrainsMono Nerd Font";
	font-size: 12px;
	min-height: 0px;
}

window#waybar {
	background: rgba(0, 0, 0, 0.7);
	color: #ffffff;
}

#workspaces button{
    font-weight: bolder;
    color: 	#ffffff ;
}

#workspaces button.active{
    color: #ee5396;
}

#network.disconnected {
    background: #f53c3c;
}

#mpd {
    font-weight: bolder;
}

#network, #custom-weather, #cpu, #memory, #clock, #tray {
    margin-left: 10px;
    margin-right: 10px;
}

#temperature {
    margin-right: 10px;
}
